{
  "Parameters": {
    "NOMBRE_TABLA": "MisionEmprende-local",
    "COGNITO_PROFESORES_POOL_ID": "pool-profesores-local",
    "COGNITO_PROFESORES_CLIENT_ID": "cliente-profesores-local",
    "COGNITO_GRUPOS_POOL_ID": "pool-grupos-local",
    "COGNITO_GRUPOS_CLIENT_ID": "cliente-grupos-local",
    "ORIGEN_CORS": "http://localhost:8080",
    "DYNAMODB_ENDPOINT": "http://dynamodb-local:8000"
  }
}
